{erl_opts, [debug_info]}.

{src_dirs, ["src", "asn1_gen"]}.

{asn1_opts, [der, maps, {outdir, "asn1_gen"}]}.

{deps, [
    {cowboy, "2.10.0"},
    {hackney, "1.20.1"},
    {jiffy, "1.1.2"},
    {quickrand, "2.0.7"},
    {uuid, "2.0.7", {pkg, uuid_erl}}
]}.

{project_plugins, [rebar3_asn1_compiler, erlfmt]}.

{provider_hooks, [{pre, [{compile, {asn1, compile}}]}]}.

{profiles, [
    {dev, [
        {shell, [
            {config, "config/sys.dev.config"}
        ]},
        {relx, [
            {sys_config, "config/sys.dev.config"}
        ]}
    ]}
]}.

{relx, [
    {release, {onomondo_eim_release, {git, short}}, [onomondo_eim, sasl, runtime_tools]},
    {dev_mode, false},
    {include_erts, true},
    {include_src, false},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.
