[
    {onomondo_eim,
        [
            {esipa_ip, {127,0,0,1}},
            {esipa_port, 8000},
            {esipa_ssl_disable, false},
            {esipa_ssl_cert, "../../config/sample_ssl_cert.crt"},
            {esipa_ssl_key, "../../config/sample_ssl_cert.key"},
            {rest_ip, {127,0,0,1}},
            {rest_port, 8080},
            {eim_id, "eIM"}
        ]
    }
].
