[
    {onomondo_eim,
        [
            {esipa_ip, {127,0,0,1}},
            {esipa_port, 8000},
            {esipa_ssl_disable, false},
            {esipa_ssl_cert, "../../config/sample_ssl_cert.crt"},
            {esipa_ssl_key, "../../config/sample_ssl_cert.key"},
            {rest_ip, {127,0,0,1}},
            {rest_port, 8080},
            {eim_id, "eIM"},
            {es9p_ssl_disable, false},
            {eim_cert, "../../config/sample_eim_cert_NIST.crt"},
            {eim_key, "../../config/sample_eim_cert_NIST.key"},
            {counter_value, 1},
            {rest_timeout_stuck, 300},
            {rest_timeout_noshow, 1800},
            {rest_timeout_expired, 86400},
            {root_ci_cert, "../../config/sgp26_test_root_ci_cert_nist.crt"}
        ]
    }
].
