[
    {onomondo_eim,
        [
            {esipa_ip, {127,0,0,1}},
            {esipa_port, 8000},
            {esipa_ssl_disable, true},
            {esipa_ssl_cert, "/home/owner/cert.pem"},
            {esipa_ssl_key, "/home/owner/key.pem"},
            {rest_ip, {127,0,0,1}},
            {rest_port, 8080}
        ]
    }
].
